.box{
    width: 100%;
    height: 100%;
}
.menu-header{
    display: none;
}
header{
    width: 100%;
    background-color: #2C3E50;
    color: white;
    height: 80px;
    
}
h4{
    font-weight: 700;
}
header .box{
    height: 80px;

}
header li{
    display: inline;
    text-decoration: none;
    padding: 0 0.25rem;
    font-size: 14px;
}
header a{
    text-decoration: none;
    color: white;
}
.jumbo{
    background-color: #1ABC9C;
    color: white;
    padding: 2rem 0;
    margin-top: 80px;
   
    
}
.jumbo img{
    max-width: 160px;
    padding-top: 2.5rem;
}
.portfolio{
    padding-bottom: 2rem;
}
.same-jumbo{
    background-color: #1ABC9C;
    color: white;
}
.string-container{
    width: 100%;
    margin-bottom: 1rem;
}
.string-white{
    width: 10%;
    height: 3px;
    background-color: white;
    
    
}
.string-black{
    width: 10%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    

}
.fa-star{
    padding: 0 0.5rem;
}
.fa-download{
    padding: 0 0.25rem;
}
.same-jumbo button{
    margin: 2rem 0 2.5rem;
}
h2{
    margin: 2rem 0 1rem 0;
}
.message{
    margin-bottom: 8rem;
}
.btn-light{
    background-color: #1ABC9C;
    color: white;
    margin-bottom: 2rem;
}
.pre-footer{
    color: white;
    background-color: #3A546D;
    padding: 2rem 0;
}
.circle{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.25rem;
}


footer{
    background-color: #2C3E50;
    color: white;
    width: 100%;
    height: 80px;
}
footer .box{
    height: 80px;
    width: 100%;

}
.portfolio img{
    width: 100%;
    margin: 0 1rem 1rem 1rem;
    border-radius: 15px;
}

/* QUERY */
@media screen and (max-width: 576px){
    .menu-header{
        display: block;
        color: white;
        
    }
    h4{
        font-size: 16px;
    }
    h1{
        font-size: 25px;
    }
    h5{
        font-size: 14px;
        margin: 0;
    }
    .hide-s{
        display: none;
    }
    
    .same-jumbo{
        padding: 0 7rem;
    }
    .same-jumbo button{
        margin-bottom: 2rem;
    }
    .portfolio img{
        margin-bottom: 1rem;
        width: 90%;
    }
    .margin-s{
        margin-top: 1.5rem;
    }
    .contact-cont{
        padding: 0 7rem;
    }
    .pre-footer h4{
        margin-top: 1.5rem;
        font-size: 14px;
    }
    header .box{
        justify-content: space-between;
        align-items: center;
    }
    .copyright{
        font-size: 10px;
    
    }
    p{
        font-size: 12px;
    }

}
